<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
		
    </head>
    <body>

        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
		
<!-- post wrapper start -->
<div id="post-wrapper">
<div class="post-container">
<div class="main section" id="main"><div class="widget Blog" data-version="1" id="Blog1">


<div class="breadcrumbs"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
<a href="https://www.mobagenie.id/" itemprop="url"><span itemprop="title">Home</span></a></span> › 
{{ range .Params.categories }}
<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" itemprop="url"><span itemprop="title">{{ . }}</span></a></span> › 
{{ end }}
</div>

<div class="blog-posts">
<!--Can't find substitution for tag [defaultAdStart]-->

          <div class="date-outer">
        

          <div class="date-posts">
        
<div class="post-outer">
<article class="post">
<div>

{{if isset .Params "image" }}
<!-- <meta content="https://2.bp.blogspot.com/-iGMj2AknPsM/XKsMWC0Ft9I/AAAAAAAAAEE/YOZTh65E_Co0FDctNAlp_P1YmOVTveXVwCLcBGAs/s320/pubg_brendan_greene_154099403922.jpg" itemprop="image"> -->
<meta content="{{ index .Params "image" }}" itemprop="image">
{{ end }}
<a name="6625154319621002880"></a>

<!-- Translate to :  <a href="https://translate.google.com/translate?hl=en&amp;sl=id&amp;tl=en&amp;prev=search&amp;u={{ .Permalink }}" target="_blank">English (US) <!--/a> ■  <!--a href="https://translate.google.com/translate?hl=en&amp;sl=id&amp;tl=ja&amp;prev=search&amp;u={{ .Permalink }}" target="_blank">Japan <!--/a> ■  <!--a href="https://translate.google.com/translate?hl=en&amp;sl=id&amp;tl=ko&amp;prev=search&amp;u={{ .Permalink }}" target="_blank">South Korea <!--/a> ■  <!--a href="https://translate.google.com/translate?hl=en&amp;sl=id&amp;tl=hi&amp;prev=search&amp;u={{ .Permalink }}" target="_blank">Hindi <!--/a -->

<h1 class="post-title entry-title" itemprop="name headline" p="p">
{{ .Title }} AMP AMP AMP
</h1>

<div class="post-info info-3">
  <!---- span class="author-info">
    By  <!--span itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
 <!--meta content="" itemprop="url">
 <!--span itemprop="name">MobaGenie <!--/span>
 <!--/span -->
</span>
<span class="time-info"><span class="updated published" title="{{ .Date.Format "Thuesday, Jan 2, 2006, 15:04:05 MST" }}">
<meta content="{{ .Date.Format "Thuesday, Jan 2, 2006, 15:04:05 MST" }}" itemprop="datePublished">

Publish Date: {{ .PublishDate.Format "Thuesday, Jan 2, 2006, 15:04:05" }} 

{{ if ne .Lastmod .Date }} - Last Modified: {{ .Lastmod.Format "Thuesday, Jan 2, 2006, 15:04:05" }} {{ end }}
</span></span>
</div>

<!-- {{if isset .Params "post_highlight" }}

<i><!-- span style="color: #222;">{{ index .Params "post_highlight" }}</span></i -->

<!-- {{ end }} -->

<!-- <div class="post-info info-3"> -->

<!-- </div> -->

<div class="post-body entry-content" id="post-body-6625154319621002880">
<meta content="      MobaGenie  - ...." itemprop="description">
<div id="kode-iklan-atas">
</div>

<div id="body-post-it">
<hr>

{{ $content := replace .Content "https://lh3."  "https://cdn.statically.io/img/lh3." }}
{{ $content := replace $content "https://lh4."  "https://cdn.statically.io/img/lh4." }}
{{ $content := replace $content "https://lh5."  "https://cdn.statically.io/img/lh5." }}
{{ $content := replace $content "https://lh6."  "https://cdn.statically.io/img/lh6." }}

{{ $content |safeHTML}} 

<hr>
TAG: {{ range .Params.tags }}
<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" itemprop="url"><span itemprop="title">#{{ . }}</span></a></span>  
{{ end }}

<div id="kode-iklan-bawah">
</div>
</div>

<div style="clear: both;"></div>
<!-- <br>
IG <a href="https://www.instagram.com/mobagenie" target="_blank">MobaGenie</a> │ WEB <a href="https://www.mobagenie.id/" target="_blank">MobaGenie.ID</a> │ YT <a href="https://www.youtube.com/channel/UCKsy1QJDIBELSn7VOvyo17g" target="_blank">MobaGenie</a> │ TW <a href="https://www.twitter.com/mobagenie" target="_blank">@mobagenie</a> │ FB <a href="https://www.facebook.com/Moba-Genie-399118817582592" target="_blank">MobaGenie</a> │ Video <a href="https://youtubetrendingindonesia.blogspot.com/" target="_blank">YoutubeTrendsID</a> -->
<br>
<div id="share-container">
<div class="label-line-c">
<p class="share-this-pleaseeeee">Share</p>
</div>
<div id="share">
<a class="twitter" href="https://twitter.com/intent/tweet?hashtags={{ range .Params.tags }}{{ . }},{{ end }}&amp;ref_src=www.mobagenie.id%5Etfw&amp;related=Gamer&amp;text={{ .Title }}&amp;tw_p=tweetbutton&amp;url={{ .Permalink }}&via=mobagenie" rel="nofollow" target="blank"><i class="fa fa-twitter"></i></a>

<a class="whatsapp" data-action="share/whatsapp/share" href="whatsapp://send?text={{ .Title }} - {{ .Permalink }}"><i aria-hidden="true" class="fa fa-whatsapp"></i></a>

<a class="linkedin" href="https://www.tumblr.com/widgets/share/tool?posttype=link&canonicalUrl={{ .Permalink }}&title={{ .Title }}&caption={{ .Title }}  {{ .Permalink }}&tags={{ range .Params.tags }}{{ . }},{{ end }}" rel="nofollow" target="blank"><i class="fa fa-tumblr"></i></a>

<!-- <a class="twitter" href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}" rel="nofollow" target="blank"><i class="fa fa-pinterest"></i></a> -->

<a class="googleplus" href="https://www.addthis.com/bookmark.php?url={{ .Permalink }}" rel="nofollow" target="blank"> more &#x276F;&#x276F;</a>

</div>
</div>

<div class="related-post" id="related-post-6625154319621002880">



<div class="label-line-c"><h4>Related</h4></div>

{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<ul class="related-post-style-3">
	{{ range . }}
<li class="related-post-item" tabindex="0">

{{if isset .Params "images" }}
<a class="related-post-item-title" href="{{ .RelPermalink }}"><!-- img alt="" class="related-post-item-thumbnail" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_200,h_200,c_fill,g_face,f_auto/{{ index .Params "images"  0 }}" width="250" height="250" --></a>
{{ end }}

<div class="related-post-item-tooltip">



<a class="related-post-item-title" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a></div><span style="display:block;clear:both;"></span>

<!-- <a class="related-post-item-title" href="https://www.mobagenie.id/2019/04/wang-zhe-rong-yao-arena-of-valor-mobile.html"><img alt="" class="related-post-item-thumbnail" src="//2.bp.blogspot.com/-J3P5cX7Wcqg/XMAiGrv4AhI/AAAAAAAAAYU/ERsjshfPofMPFDZZTitsL1m_PIhfiT2PACEwYBhgL/s250-c/mobagenie.id-Wang-Zhe-Rong-Yao%252C-Arena-Of-Valor%252C-Mobile-Legends-dan-Perkembangan-eSports-di-Indonesia-cover-0edited.jpg" width="250" height="250"></a>

<div class="related-post-item-tooltip"><a class="related-post-item-title" title="Wang Zhe Rong Yao, Arena Of Valor, Mobile Legends dan Perkembangan eSports di Indonesia" href="https://www.mobagenie.id/2019/04/wang-zhe-rong-yao-arena-of-valor-mobile.html">Wang Zhe Rong Yao, Arena Of Valor, Mobile Legends dan Perkembangan eSports di Indonesia</a></div><span style="display:block;clear:both;"></span> -->

</li>
	{{ end }}
</ul><span style="display:block;clear:both;"></span>
{{ end }}


</div>

<!-- <script>
var labelArray = ["Battle Royale", "News", "PUBG", "PUBG Mobile"];
var relatedPostConfig = {
    homePage: "https://www.mobagenie.id/",
    widgetTitle: "<div class='label-line-c'><h4>Related Posts</h4></div>",
    numPosts: 4,
    summaryLength: 370,
    titleLength: "auto",
    thumbnailSize: 250,
    noImage: "//3.bp.blogspot.com/-ltyYh4ysBHI/U04MKlHc6pI/AAAAAAAADQo/PFxXaGZu9PQ/w250-h250-c/no-image.png",
    containerId: "related-post-6625154319621002880",
    newTabLink: false,
    moreText: "Read More",
    widgetStyle: 3,
    callBack: function() {}
}; -->
</script>
</div>
</div>

 <!--div class="berlangganan-box">
 <!--form action="https://feedburner.google.com/fb/a/mailverify" method="post" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=mobagenie', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" target="popupwindow">
 <!--p>Berlangganan update artikel terbaru via email: <!--/p> <!--p> <!--input class="email-address" name="email" placeholder="Masukan alamat email..." type="text"> <!--/p> <!--input name="uri" type="hidden" value="Warim">
 <!--input name="loc" type="hidden" value="en_US">
 <!--p> <!--input class="submit-email" type="submit" value="Berlangganan"> <!--/p>
 <!--/form>
 <!--/div -->

<div style="clear: both;"></div>
</article>
<div class="comments" id="comments">

{{ partial "disqus.html" . }}

<a name="comments"></a>
<div id="backlinks-container">
<div id="Blog1_backlinks-container">
</div>
</div>
</div>
</div>

        </div></div>
      
<!--Can't find substitution for tag [adEnd]-->
</div>
 <!--!-- div class="blog-pager" id="blog-pager">
 <!--span id="blog-pager-newer-link">
 <!--a class="blog-pager-newer-link" href="/" id="Blog1_blog-pager-newer-link" title="Newer Post">Newer Post <!--/a>
 <!--/span>
 <!--a class="home-link" href="/">Home <!--/a>
 <!--/div-->
<div class="clear"></div>
<div class="post-feeds">
</div>
</div></div>
<div class="iklan-atas section" id="iklan-atas"><div class="widget HTML" data-version="1" id="HTML996">
<h2 class="title">Iklan Atas Artikel</h2>
<div class="widget-content">

</div>
</div></div>
<div class="iklan-tengah1 section" id="iklan-tengah1"><div class="widget HTML" data-version="1" id="HTML997">
<h2 class="title">Iklan Tengah Artikel 1</h2>
<div class="widget-content">

</div>
</div></div>
<div class="iklan-tengah2 section" id="iklan-tengah2"><div class="widget HTML" data-version="1" id="HTML998">
<h2 class="title">Iklan Tengah Artikel 2</h2>
<div class="widget-content">

</div>
</div></div>
<div class="iklan-bawah section" id="iklan-bawah"><div class="widget HTML" data-version="1" id="HTML999">
<h2 class="title">Iklan bawah ariktel</h2>
<div class="widget-content">

</div>
</div></div>
<!-- <script type="text/javascript">
function insertAfter(addition, konten) {
    var parent = konten.parentNode;
    if (parent.lastChild == konten) {
        parent.appendChild(addition);
    } else {
        parent.insertBefore(addition, konten.nextSibling);
    }
}
function insertAbove(addition, konten) {
    var parent = konten.parentNode;
	parent.insertBefore(addition, konten);
}
function insertBellow(addition) {
    var parent = konten;
	parent.appendChild(addition);
}
var iklan1 = document.getElementById("kode-iklan-tengah1");
var iklan2 = document.getElementById("kode-iklan-tengah2");
var iklanAtas = document.getElementById("kode-iklan-atas");
var iklanBawah = document.getElementById("kode-iklan-bawah");
var bacaJuga = document.getElementById("baca-juga");
var konten = document.getElementById("body-post-it");
var lokasi = konten.getElementsByTagName("br");
if (lokasi.length > 0) {
	insertAbove(iklanAtas,konten); 
	insertBellow(iklanBawah);
} 
if (lokasi.length > 2) {
    insertAfter(iklan1,lokasi[2]);
} 
else {
	iklan1.innerHTML = "";
}
if (lokasi.length > 10) {
    insertAfter(iklan2,lokasi[10]);
} 
else {
	iklan2.innerHTML = "";
}
if (lokasi.length > 4) {
    insertAfter(bacaJuga,lokasi[4]);
} 
else {
	bacaJuga.innerHTML = "";
}
</script> -->
</div>
</div>
<!-- post wrapper end -->


		{{ partial "sidebar-wrapper-start.html" . }}
		
		{{ partial "editor-pick.html" . }} 
		{{ partial "recent-post.html" . }}
		{{ partial "hero-chart.html" . }}
		{{ partial "esports-chart.html" . }}
		 
		<!-- {{ partial "trending-topic.html" . }} -->

		{{ partial "category.html" . }}

        {{ partial "sidebar-widget.html" . }}

		{{ partial "sidebar-wrapper-end.html" . }}

		{{ partial "footer.html" . }}
		{{ partial "js-init.html" . }}
    </body>
</html>