<div class='clear'></div>
</div>
<!-- wrapper end -->
<div class='sticky-stop'></div>
<div id='footer-widget-container'>
<div class='footer-widget section' id='footer-widget'><div class='widget HTML' data-version='1' id='HTML1'>
<div class='widget-content'>
<!-- social media button start -->
		  <ul class='nav-social'>
			  <li><a class='fcb' href='https://www.facebook.com/Moba-Genie-399118817582592' rel='nofollow' target="_blank"><i class='fa fa-facebook-square fa-2x'/></i></a>
			  </li>  
			  <li><a class='igicon' href='https://www.instagram.com/mobagenieofficial' rel='nofollow' target="_blank"><i class='fa fa-instagram fa-2x'/></i></a>
			  </li>
			  
			  <!-- <li><a class='twt' href='https://twitter.com/mobagenie' rel='nofollow' target="_blank"><i class='fa fa-twitter-square fa-2x'/></i></a>  -->
			  <!-- </li> -->
			  <li><a class='ytb' href='https://www.youtube.com/channel/UCKsy1QJDIBELSn7VOvyo17g' rel='nofollow' target="_blank"><i class='fa fa-youtube fa-2x'/></i></a> 
			  </li>
		  </ul>
		  <!-- social media button end -->
</div>
</div>
</div>
</div>
<!-- footer nav menu -->
<div id='footer-navmenu'>
<nav id='footer-navmenu-container'>
<!-- social media button start -->
<!-- <ul class='nav-social'> <li><a class='igicon' href='https://www.instagram.com/mobagenie' target='_blank' rel='nofollow'><i class='fa fa-instagram fa-2x'></i></a> </li> <li><a class='twt' href='https://www.twitter.com/mobagenie' target='_blank' rel='nofollow'><i class='fa fa-twitter-square fa-2x'></i></a> </li> <li><a class='ytb' href='https://www.youtube.com/channel/UCKsy1QJDIBELSn7VOvyo17g' target='_blank' rel='nofollow'><i class='fa fa-youtube fa-2x'></i></a> </li> <li><a class='fcb' href='https://www.facebook.com/Moba-Genie-399118817582592' target='_blank' rel='nofollow'><i class='fa fa-facebook-square fa-2x'></i></a> </li> </ul> -->
<!--social media button end -->
<!-- menu navigasi footer start -->
<ul>
<li><a href='https://esports.mobagenie.my.id/' target='_blank'>Esports</a></li>
<li><a href='{{ .Site.Params.rooturl }}/genieuporganizer'>GENIEup Organizer</a></li>
<li><a href='{{ .Site.Params.rooturl }}/page/mlbb-redeem-code/'>MLBB Redeem Code</a></li>
<li><a href='{{ .Site.Params.rooturl }}/tools/'>Tools</a></li>
<li><a href='{{ .Site.Params.rooturl }}/player/player-index/'>Player</a></li>
<li><a href='{{ .Site.Params.rooturl }}/tags/video'>Video</a></li>
<li><a href="{{ .Site.Params.rooturl }}/page/setup-headset/">Setup</a></li>
<li><a href="{{ .Site.Params.rooturl }}/game-chart/hero-mobile-legends/">Hero</a></li>
<li><a href='{{ .Site.Params.rooturl }}/archive'>Archive</a></li>
<li><a href='https://livecounts.mobagenie.my.id/' target='_blank'>LiveCounts</a></li>
<!-- <li><a href='#'>About</a></li> <li><a href='#'>Contact</a></li> <li><a href='#'>Privacy Policy</a></li> <li><a href='#'>Disclaimer</a></li> -->
</ul>
<!-- menu navigasi footer end -->
</nav>
</div>
<!-- footer nav menu end -->
<!-- footer wrapper start -->
<div id='footer-container'>
	
<footer id='footer-wrapper'>
		
<br>
MobaGenie adalah situs Media Informasi yang berfokus pada seputar Dunia Game MOBA MOBILE dan PC. dari mulai Mobile Legends, DOTA2, Arena of Valor, League of Legends, Wild Rift, Lokapala, Vainglory, dan Game MOBA lain.

Informasi yang disajikan di situs ini meliputi Update Berita, Guide, Fakta Unik, Info Pro Player, Esports, Leaderboard, Redeem Code Tools MOBA dan lain sebagainya. 
		</br><br>
		
		<a href='{{ .Site.Params.rooturl }}/network'>Network</a> &#x2022; <a href='{{ .Site.Params.rooturl }}/privacy-policy'>Privacy</a> &#x2022; <a href='{{ .Site.Params.rooturl }}/disclaimer'>Disclaimer</a> &#x2022; <a href='{{ .Site.Params.rooturl }}/terms-of-service'>ToS</a> &#x2022; <a href='{{ .Site.Params.rooturl }}/comment-policy'>Comment Policy</a> &#x2022; <a href='{{ .Site.Params.rooturl }}/about'>About</a> &#x2022; <a href='{{ .Site.Params.rooturl }}/contact'>Contact</a>
</footer>

<!-- sub footer wrapper start -->
<div id='footer-container'>
<footer id='footer-wrapper'>
&copy; 2018-2021 {{ now.Format ""}} {{ .Site.Title }}
</footer>
</div>
<!-- sub footer wrapper end -->

</div>
<!-- footer wrapper end -->

<div class='back-to-top'><a href='#' id='back-to-top' title='back to top'>
<i class='fa fa-chevron-up'></i>
</a></div>
<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500' rel='stylesheet' type='text/css'/>
<link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>

<link href='{{ .Site.Params.cdnurl }}/css/search.css' rel='stylesheet' type='text/css'/>
<div id="search-overlay">
    
    <section class="wrapper">
        <form>
           <!--  <p class="search-title">Search</p> -->
            <p class="search-input-line"><input type="text" maxlength="200" id="search-input" name="query" placeholder="Type to search.." /></p>
			<input class="submit-email" type="submit" value="CLOSE" id="search-close">
			
            <p class="search-help">
			<label for="search-query">Press <strong class="key">ESC</strong> to close</label>
			
			</p>
			
			<!-- <i class="icon-cancel-circled" aria-hidden="true" id="search-close">CLOSE</i> -->
			
            <!-- <p class="search-help"> -->
			<!-- <label for="search-query">Press <strong class="key">ESC</strong> to close</label> -->
			
			<!-- </p> -->
        </form>
        <div id="search-results"></div>
    </section>
</div>

<!-- <div id="searchfs" class="open">
<button class="close" type="button">×</button>
<form action="/search" id="search-form" method="get">
<input name="q" placeholder="type to search" type="search" value="">
<input name="max-results" type="hidden" value="7">
</form>
</div> -->