  {{ partial "analytics-custom.html" . }}

<title>{{ .Title }}</title>

<script type="application/ld+json">

    {

      "@context": "https://schema.org",

      "@type": "BreadcrumbList",

      "itemListElement": [{

    "@type": "ListItem",

    "position": 1,

    "name": "Home",

    "item": ""

  },{

        "@type": "ListItem",

        "position":  2 ,

        "name": "Mobile Legends",

        "item": "/categories/mobile-legends"

      },{

        "@type": "ListItem",

        "position":  3 ,

        "name": "News",

        "item": "/categories/news"

      },{

        "@type": "ListItem",

        "position":  4 ,

        "name": "Esports",

        "item": "/categories/esports"

      },{

        "@type": "ListItem",

        "position":  5 ,

        "name": "Guide",

        "item": "/categories/guide"

      },{

        "@type": "ListItem",

        "position":  6 ,

        "name": "Player",

        "item": "/player/player-index"

      }



]

    }

    </script>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
{{ template "_internal/schema.html" . }}
<!-- {{ template "_internal/google_news.html" . }}-->
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<!-- Icon -->
<link rel="icon" href="/img/favicon.ico"/>
<!-- link rel="icon" href="/favicons/mobagenie.my.id?cache=31556952"/ -->

<!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
<link rel="stylesheet" href="/css/style.min.css" />
<!-- <link rel="stylesheet" href="/css/prism.css" /> -->

<!-- Taru kode Google Analytic di sini, karena menurut aturan harus di dalam Head -->
<!--{{ template "_internal/google_analytics.html" . }}-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- script async src="https://www.googletagmanager.com/gtag/js?id=UA-141270874-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  <!-- function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141270874-1');
</script -->

<!-- <link rel='stylesheet' id='bootstrap-css'  href='https://mobilelegends.gcube.id/wp-content/themes/envince/css/bootstrap.min.css?ver=4.9.5' type='text/css' media='all' />

<link rel='stylesheet' id='flickity-css'  href='https://mobilelegends.gcube.id/wp-content/themes/envince/css/flickity.min.css?ver=4.9.5' type='text/css' media='all' />
<link rel='stylesheet' id='custom-css'  href='https://mobilelegends.gcube.id/wp-content/themes/envince/custom.css?ver=23jl19' type='text/css' media='all' />

<link rel='stylesheet' id='style-css'  href='https://mobilelegends.gcube.id/wp-content/themes/envince/style.min.css?ver=4.9.5' type='text/css' media='all' />

<!--[if !IE]><!-->
<!-- <link rel="stylesheet" id="tablepress-responsive-tables-flip-css" href="https://mobilelegends.gcube.id/wp-content/plugins/tablepress-responsive-tables/css/responsive.dataTables.min.css?ver=1.4" type="text/css" media="all"> -->

<style>
.users {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.row-ID {
  width: 10%;
}
.row-name {
  width: 40%;
}
.row-job {
  width: 30%;
}
.row-email {
  width: 20%;
}
</style>

<script>
$("#tablefit").width($(window).width());
</script>

<!-- 		<style>#post-list a,aside,header,nav,section{display:block}#main,body,html{height:100%}@font-face{font-family:font-awesome-heart-470;src:url(/fonts/icons.eot?94379839);src:url(/fonts/icons.eot?94379839#iefix) format('embedded-opentype'),url(/fonts/icons.woff2?94379839) format('woff2'),url(/fonts/icons.woff?94379839) format('woff'),url(/fonts/icons.ttf?94379839) format('truetype'),url(/fonts/icons.svg?94379839#font-awesome-heart-470) format('svg');font-weight:400;font-style:normal}[class^=icon-]:before{font-family:font-awesome-heart-470;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}#post-list li{list-style-type:none}a,aside,body,div,form,h1,h2,header,html,i,label,li,nav,p,section,strong,ul{border:0;font:inherit;vertical-align:baseline;margin:0;padding:0}*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#post-list li,p{margin-bottom:20px}body{line-height:1;font:16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;color:#666;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}h1{font-size:30px;letter-spacing:-1px;color:#222;font-weight:700}h2{font:italic 19px/1.3em Georgia,serif;color:#bbb}.profile .wrapper{padding:100px 40px 0;max-width:600px;margin:0 auto}.profile #header{margin-bottom:40px;padding-bottom:40px;text-align:center;position:relative}.profile h1{font-weight:400;letter-spacing:0;font-size:20px;color:#222}.profile h2{font-size:20px;font-weight:300;color:#aaa;margin-top:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-style:normal}nav.main-nav{padding:20px 20px 0;background:#fff;background:rgba(255,255,255,.9);margin:0 auto;text-align:right;z-index:100}nav.main-nav a{top:8px;right:6px;padding:8px 12px;color:#5badf0;font-size:13px;line-height:1.35;border-radius:3px}.wrapper,.wrapper.home{max-width:600px;margin:0 auto}.wrapper{padding:60px 40px 100px}.wrapper.home{padding:0 40px 20px}#post-list li+li{padding-top:20px}a{text-decoration:none;color:#5694f1}ul{margin:0;padding:0}li{list-style-type:circle;list-style-position:inside}#post-body,p{line-height:1.7}strong{font-weight:500;color:#1E2025}i{font-style:italic}.home h2{font:italic 19px/1.3em Georgia,serif;color:#bbb}#post-list h2{font:400 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;color:#aaa;max-width:400px;margin-top:2px}#post-list li:last-child{margin-bottom:0}#post-list a{color:#333;font:700 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif}#post-list .dates{float:right;position:relative;top:1px;font:300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;color:#bbb}#search-overlay{left:0;top:0;right:0;bottom:0;height:100%;width:100%;position:fixed;z-index:1;display:none;background:#fff;overflow-y:scroll}.search-input-line{margin-bottom:5px}#search-input{width:100%;font-size:40px;padding:5px;border:1px solid #d0d0d0;outline:0}.search-title{font-weight:400;letter-spacing:0;font-size:20px;color:#222;text-align:center}.search-help{text-align:right;margin-top:0}.search-help .key{background:#eee;border:1px solid #d0d0d0;border-radius:2px;padding:1px}#search-results{margin-top:40px}.icon-cancel-circled:before{content:'\e801'}.icon-search:before{content:'\e802'}#search-close{position:absolute;right:20px;top:15px;font-size:40px}@media screen and (max-width:768px){.search-help{display:none}}@media screen and (max-width:600px){#search-close{right:30px}}#main{overflow:auto;-webkit-overflow-scrolling:touch}.post h1{margin-bottom:20px;color:#222;font:300 32px/1.4em "Helvetica Neue",Helvetica,Arial,sans-serif}.post h2{margin-bottom:40px;font:300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;color:#111}.post h2.headline{font:400 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;margin:-5px 0 40px;color:#b2b9be;font-size:13px;letter-spacing:1px}.post h2.headline .tags{font:400 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;margin:5px 0 40px;color:#b2b9be;font-size:13px;letter-spacing:2px;display:block}.post header{text-align:center}p a{color:#5694f1}@media screen and (max-width:540px){#search-close{right:10px}.wrapper{padding:20px}#header{margin-bottom:60px}#post-list{margin-top:0}#post-list .dates{display:none}h1{font-size:26px}.post h2.headline{font-size:13px}.post h1{font-size:24px}.post h2{font-size:20px}}</style> -->


	<link class="theme metro-dark" rel="stylesheet" href="/tablesorter-master/css/theme.metro-dark.css">
	
	<style id="css">/* Fixed column scroll bar spacer styling */
.tablesorter-scroller-bar-spacer {
	background: #eee;
}
/* add border to right side (LTR pages) of fixed column */
.tablesorter-scroller-fixed:after {
	content: '';
	border-right: 1px solid #444;
	width: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 2;
	/* set to zero for non-jquery ui themes; use "left" here for RTL pages */
	right: 0;
	/* match the margins set to the table to keep the border the same height as the table */
	margin: 10px 0 15px;
}

/* using-x-theme added by the demo code */
.using-jui-theme .tablesorter-scroller-fixed:after {
	/* use "left" here for RTL pages */
	right: 0;
}
.using-green-theme .tablesorter-scroller-fixed:after,
.using-black-ice-theme .tablesorter-scroller-fixed:after,
.using-dark-theme .tablesorter-scroller-fixed:after,
.using-dropbox-theme .tablesorter-scroller-fixed:after {
	/* match the margins set to the table to keep the border the same height as the table */
	margin: 0;
}

/* OPTIONAL CSS! */
#fixed-columns-table tbody td {
	/* force "Notes" column to not wrap, so we get a horizontal scrolling demo! */
	white-space: nowrap;
	/* Add min column width, or "Index" column filter gets too narrow to use */
	min-width: 60px;
	.tablesorter thead .disabled {display: none}
}</style>

<script type="text/javascript" src="{{ .Site.Params.cdnurl }}/js/jquery-latest.min.js?v3.3.1"></script>