<!-- post wrapper start -->
<div id="post-wrapper">
<div class="post-container">

   {{ partial "featured-post.html" . }} 

<div class="latest-post-title">
<h2>Latest</h2>
</div>

<div class="main section" id="main"><div class="widget Blog" data-version="1" id="Blog1">
<div class="blog-posts">
<!--Can't find substitution for tag [defaultAdStart]-->
          
          <div class="date-outer">
        

          <div class="date-posts">
  
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") 5 }}
          <!-- {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 10 }}-->
            {{ range $paginator.Pages}}  
<div class="post-outer">
<article class="post">
<div class="label-line">
<span class="label-info-th">

  {{ range .Params.categories }}
	
<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>	
	
    {{ end }} 


</span>
</div>
<div class="img-thumbnail">
<a href="{{ .RelPermalink }}">

{{ with .Params.images }}
		{{ range first 1 . }}
	<img alt="thumbnail" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_250,h_250,c_fill,g_face,f_auto/{{ . | absURL }}" />
		{{ end }}
	{{ end }}

{{if isset .Params "images" }}

<!-- img alt="{{ .Title }}" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_250,h_250,c_fill,g_face,f_auto/{{ index .Params "images" 0 }}" title="{{ .Title }}"-->

{{ end }}

</a>
</div>

{{if isset .Params "images" }}
<meta content="{{ index .Params "images" 0 }}" itemprop="image">
{{ end }}

<a name="3458932010900769286"></a>
<h2 class="post-title entry-title" itemprop="name headline">
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
</h2>
<div class="post-body entry-content" id="post-body-3458932010900769286" itemprop="description">
<div class="post-snippet">

{{ if gt (len .Summary) 200 }}

  {{slicestr .Summary 0 150}}
  
  <a href="{{ .Permalink }}">Read More…</a> 

    {{ else }}
        {{ .Summary }}

{{ end }}


<!-- {{ range first 10 .Pages }} -->
    <!-- <article> -->
      <!-- this <div> includes the title summary -->
      <!-- <div> -->
        <!-- <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2> -->
        <!-- {{ .Summary }} -->
      <!-- </div> -->
      <!-- {{ if .Truncated }} -->
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <!-- <div> -->
        <!-- <a href="{{ .RelPermalink }}">Read More…</a> -->
      <!-- </div> -->
      <!-- {{ end }} -->
    <!-- </article> -->
<!-- {{ end }} -->

</div>
</div>
<div class="post-info info-1">
</div>
<div style="clear: both;"></div>
</article>
</div>
            {{ end }}
        </div></div>
      
<!--Can't find substitution for tag [adEnd]-->
</div>

<div class="container">
    {{ partial "pagination-index.html" . }}
</div>

<div class="clear"></div>
<div class="blog-feeds">
<div class="feed-links">
<!--a class="feed-link" href="https://www.mobagenie.my.id/feeds/posts/default" target="_blank" type="application/atom+xml"></a-->
</div>
</div>
</div>

</div>


<div class="iklan-atas section" id="iklan-atas"><div class="widget HTML" data-version="1" id="HTML996">
</div></div>
<div class="iklan-tengah1 section" id="iklan-tengah1"><div class="widget HTML" data-version="1" id="HTML997">
</div></div>
<div class="iklan-tengah2 section" id="iklan-tengah2"><div class="widget HTML" data-version="1" id="HTML998">
</div></div>
<div class="iklan-bawah section" id="iklan-bawah"><div class="widget HTML" data-version="1" id="HTML999">
</div></div>
</div>
</div>
<!-- post wrapper end -->

<!-- <article class="card-post">
    <div class="container">
        <div class="row">

            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6 }}
            {{ range $paginator.Pages }}
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card">
                        <a href="{{ .RelPermalink }}">
                        <img class='card-img-top' 
                            
                            alt='{{ .Title }}'>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h4>
                        </div>
                    </div>

                </div>
            {{ end }}

        </div>
    </div>
</article>

<br> -->

