<!DOCTYPE html>
<html amp lang="id">
    <head>
        {{ partial "head-amp.html" . }}
        {{ partial "amp-css.min.html" . }}

        {{ partial "ampcomp.html" . }}
		
    </head>
    <body>

        {{ partial "nav-amp.html" . }}
        {{ partial "header-amp.html" . }}
		
<!-- post wrapper start -->
<div id="post-wrapper">
<div class="post-container">
<div class="main section" id="main"><div class="widget Blog" data-version="1" id="Blog1">


<div class="breadcrumbs"><span itemscope="" itemtype="">
<a href="https://www.mobagenie.id/" itemprop="url"><span itemprop="title">Home</span></a></span> › 
{{ range .Params.categories }}
<span itemscope="" itemtype=""><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" itemprop="url"><span itemprop="title">{{ . }}</span></a></span> › 
{{ end }}
</div>

<div class="blog-posts">
<!--Can't find substitution for tag [defaultAdStart]-->

          <div class="date-outer">
        

          <div class="date-posts">
        
<div class="post-outer">
<article class="post">
<div>

{{if isset .Params "image" }}
<!-- <meta content="https://2.bp.blogspot.com/-iGMj2AknPsM/XKsMWC0Ft9I/AAAAAAAAAEE/YOZTh65E_Co0FDctNAlp_P1YmOVTveXVwCLcBGAs/s320/pubg_brendan_greene_154099403922.jpg" itemprop="image"> -->
<meta content="{{ index .Params "image" }}" itemprop="image">
{{ end }}
<a name="6625154319621002880"></a>


<h1 class="post-title entry-title" itemprop="name headline" >
{{ .Title }}
</h1>

<div class="post-info info-3">
  <!---- span class="author-info">
    By  <!--span itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
 <!--meta content="" itemprop="url">
 <!--span itemprop="name">MobaGenie <!--/span>
 <!--/span -->
</span>
<span class="time-info"><span class="updated published" title="{{ .Date.Format "Thuesday, Jan 2, 2006, 15:04:05 MST" }}">
<meta content="{{ .Date.Format "Thuesday, Jan 2, 2006, 15:04:05 MST" }}" itemprop="datePublished">

Publish Date: {{ .PublishDate.Format "Thuesday, Jan 2, 2006, 15:04:05" }} 

{{ if ne .Lastmod .Date }} - Last Modified: {{ .Lastmod.Format "Thuesday, Jan 2, 2006, 15:04:05" }} {{ end }}
</span></span>
</div>

<!-- {{if isset .Params "post_highlight" }}

<i><!-- span style="color: #222;">{{ index .Params "post_highlight" }}</span></i -->

<!-- {{ end }} -->

<!-- <div class="post-info info-3"> -->

<!-- </div> -->

<div class="post-body entry-content" id="post-body-6625154319621002880">
<meta content="      MobaGenie  - ...." itemprop="description">
<div id="kode-iklan-atas">
</div>

<div id="body-post-it">
<hr>

<!--{{ $content := .Content }}-->

{{ $content := replace .Content "https://lh3."  "https://cdn.statically.io/img/lh3." }}
{{ $content := replace $content "https://lh4."  "https://cdn.statically.io/img/lh4." }}
{{ $content := replace $content "https://lh5."  "https://cdn.statically.io/img/lh5." }}
{{ $content := replace $content "https://lh6."  "https://cdn.statically.io/img/lh6." }}

{{ $content := replace $content "localhost:1313"  "mobagenie.my.id" }}

{{ $content := replace $content "mobagenie.id"  "mobagenie.my.id" }}
{{ $content := replace $content "MobaGenie.ID"  "MobaGenie" }}
{{ $content := replace $content "www.mobagenie.id"  "mobagenie.my.id" }}
{{ $content := replace $content "www.mobagenie.my.id"  "mobagenie.my.id" }}

{{ $content := $content | replaceRE  "<iframe.*?/embed/" "<amp-youtube data-videoid=\"" }}
{{ $content := $content | replaceRE  "feature=player_embedded.*?/iframe>" "\" layout=\"responsive\" width=\"480\" height=\"270\"></amp-youtube>" }}
{{ $content := replace $content `?" layout="responsive"`  `" layout="responsive"` }}

{{ $content := $content | replaceRE "<a.*?href=\".*?.jpg\".*?>" "" }}
{{ $content := $content | replaceRE "<a.*?href=\".*?.jpeg\".*?>" "" }}
{{ $content := $content | replaceRE "<a.*?href=\".*?.png\".*?>" "" }}
{{ $content := $content | replaceRE "<a.*?href=\".*?.webp\".*?>" "" }}


{{ $content := $content | replaceRE ".jpg.*?>" ".jpg\"/>" }}
{{ $content := $content | replaceRE ".jpeg.*?>" ".jpeg\"/>" }}
{{ $content := $content | replaceRE ".png.*?>" ".png\"/>" }}
{{ $content := $content | replaceRE ".webp.*?>" ".webp\"/>" }}

{{ $content := $content | replaceRE "<img.*?src=\"" "<amp-img alt=\"AMP IMG\" src=\"" }}

{{ $content := $content | replaceRE ".jpg\"/>" ".jpg\" width=\"900\" height=\"675\" layout=\"responsive\"/></amp-img>" }}
{{ $content := $content | replaceRE ".jpeg\"/>" ".jpeg\" width=\"900\" height=\"675\" layout=\"responsive\"/></amp-img>" }}
{{ $content := $content | replaceRE ".png\"/>" ".png\" width=\"900\" height=\"675\" layout=\"responsive\"/></amp-img>" }}
{{ $content := $content | replaceRE ".webp\"/>" ".webp\" width=\"900\" height=\"675\" layout=\"responsive\"/></amp-img>" }}

{{ $content := replace $content "</amp-img></a>" "</amp-img>" }}

{{ $content := replace $content "AMP IMG" .Title }}

<!--  {{ $content := replace $content `340px;` `340px` }} -->



<!-- {{ $content := replace $content ""  "" }}-->
{{ $content | safeHTML}}

<!--div id="kode-iklan-bawah">
</div-->
</div>

</div>
</div>

<!--div style="clear: both;"></div-->
</article>

</div>
</div>

        </div></div>
      
<!--Can't find substitution for tag [adEnd]-->
</div>
 <!--!-- div class="blog-pager" id="blog-pager">
 <!--span id="blog-pager-newer-link">
 <!--a class="blog-pager-newer-link" href="/" id="Blog1_blog-pager-newer-link" title="Newer Post">Newer Post <!--/a>
 <!--/span>
 <!--a class="home-link" href="/">Home <!--/a>
 <!--/div-->
<div class="clear"></div>
<div class="post-feeds">
</div>
</div></div>
<div class="iklan-atas section" id="iklan-atas"><div class="widget HTML" data-version="1" id="HTML996">
<h2 class="title">Iklan Atas Artikel</h2>
<div class="widget-content">

</div>
</div></div>
<div class="iklan-tengah1 section" id="iklan-tengah1"><div class="widget HTML" data-version="1" id="HTML997">
<h2 class="title">Iklan Tengah Artikel 1</h2>
<div class="widget-content">

</div>
</div></div>
<div class="iklan-tengah2 section" id="iklan-tengah2"><div class="widget HTML" data-version="1" id="HTML998">
<h2 class="title">Iklan Tengah Artikel 2</h2>
<div class="widget-content">

</div>
</div></div>
<div class="iklan-bawah section" id="iklan-bawah"><div class="widget HTML" data-version="1" id="HTML999">
<!--h2 class="title">Iklan bawah ariktel</h2-->
<div class="widget-content">

</div>
</div></div>

</div>
</div>
<!-- post wrapper end -->


		{{ partial "sidebar-wrapper-start.html" . }}

		<!--{{ partial "recent-post-amp.html" . }}-->

		<!-- {{ partial "trending-topic.html" . }} -->

		{{ partial "category-amp.html" . }}

        {{ partial "sidebar-widget-amp.html" . }}

		{{ partial "sidebar-wrapper-end.html" . }}

		{{ partial "footer-amp.html" . }}
		{{ partial "js-init-amp.html" . }}
    </body>
</html>